.top-navbar {
    background-color: #f7f7f2;
    color: black;
    padding: 20px 0px;
    box-shadow: none;
    position: relative;
}

.search-follow-btns {
    display: flex;
    height: 100%;
    align-items: center;
}

// subscribe button
.topnavbar-subscribe-btn {
    height: 36px;
    width: 143px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        background-color: #ccccac;
        position: absolute;
        width: 0;
        height: 108%;
        top: -1px;
        bottom: -1px;
        left: -65px;
        z-index: -1;
        transform: skew(50deg);
        transform-origin: top left;
        transition: all 0.4s ease 0s;
    }

    &:hover {
        border: 1px solid #ccccac;

        .topnavbar-subscribe-link {
            color: white;
        }

        .email-icon {
            background-image: url(./icons/white_email.svg);
        }
    }

    &:hover::before {
        width: 200%;
    }
}

.topnavbar-subscribe-link {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 8px;
    font-size: 12px;
}

.email-icon {
    background-image: url(./icons/email__icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 18px;
}

// logo
.logo-link {
    display: flex;
}

// social links
.social-links {
    height: 100%;
    display: flex;
}

.topnavbar-social {
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

.topnavbar-soc-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
        .social-icon {
            filter: grayscale(0%);
        }
    }
}

.social-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    filter: grayscale(100%);
}

.si-facebook {
    background-image: url(./icons/facebook_logo.svg);
}
.si-twitter {
    background-image: url(./icons/twitter_icon.svg);
}
.si-instagram {
    background-image: url(./icons/instagram_icon.svg);
}

.social-count {
    color: #a8aab2;
    font-size: 12px;
}

// search field
.topnavbar-search-field-visible {
    position: absolute;
    bottom: -320px;
    height: 200px;
    width: 100%;
    background-color: #fafafa;
    z-index: 4;
    display: flex;
    align-items: center;
}

.topnavbar-search-field-unvisible {
    display: none;
    overflow: hidden;
}

.search-row {
    width: 100%;
}

.search-form-close_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccccac;
    width: 100%;
    height: 60px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    button {
        background-color: transparent;
        width: 40px;
        height: 100%;
        border: none;
        cursor: pointer;
        background-image: url(icons/search_icon.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.4s ease 0s;

        &:hover {
            background-image: url(icons/grey_search_icon.svg);
        }
    }

    input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.search-close-btn {
    width: 40px;
    height: 100%;
    background-image: url(icons/x_icon.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    transition: all 0.4s ease 0s;

    &:hover {
        background-image: url(icons/grey-x_icon.svg);
    }
}
